<%- include('partials/header') %>

<div id="jumbotron-centered" class="jumbotron centered">
  <div class="container">
    <center>
        <img style="margin-top:-5%;" class="logo" src="css/poster.jpg" alt="">
    </center>
    <h2 id="welcome" class="display-3">Welcome to FIFA Qatar World Cup finale</h2>
    <br>
    <p id="para" class="lead">Keep track of our in our World Cup events</p>
    <br>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
