<%- include('partials/header') %>

<div id="jumbotron-centered" class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Thanks for logging In!</h1>
    <p class="secret-text">FIFA Association office bearers</p>
    <hr>

    <div style="margin-left:30%;" class="container">
      <div class="row">
        <div class="col-lg-2">
          <img style="width:150px;height:180px;" src="css/men.jpg" alt="">
          <h4>Gianni Infantino</h4>
          <h5>office bearer 1</h5>
        </div>
        <div class="col-lg-2">
          <img  style="width:150px;height:180px;" src="css/women.jpg" alt="">
          <h4>Issa Hayatou</h4>
          <h5>office bearer 2</h5>
        </div>
      </div>

    </div>
    <br><br>
    <h1 id="welcome">List of events in our World Cup finale</h1>
    <div class="container" style="width:30%;">

<br>
      <li class="list-group-item list-group-item-success">Quarter Finals</li>
      <li class="list-group-item list-group-item-danger">Semi Finals</li>
      <li class="list-group-item list-group-item-warning">Play off</li>
      <li class="list-group-item list-group-item-info">The Grand Finale</li>

    </div>
    <br><br>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
